.login-form-container {
    text-align: center;
    margin: 0 auto;
    .login-input {
        margin: 10px;
        >* {
            width: 60%;
        }
    }
    .login-btn {
        display: block;
        margin: 0 auto;
    }
}

.login-type-btns {
    text-align: center;
}

.login-type-txt {
    margin-left: 20px;
}