.campaign-preview {
    margin: 5px;
    padding: 5px;
    border: 1px solid $clr1;
    .campaign-details-btn {
        background-color: $clr1;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 9px 23px;
    }
}