.campaign-container {
    grid-row: 1 /-1;
    
    .campaign-info-container{
        position: relative;
        
        img {
            position: absolute;
            right: 0;
            top:50%;
            transform: translateY(-50%);
        }
    }
}