.campaign-preview-container {
    padding: 15px;
    border: 1px solid $clr1;
    position: relative;
    
    h1{
        font-size: 1.7rem;
        margin: 0.8rem 0;
        text-align: center;
    }
    
}