.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .dashboard-basic-info {
        grid-column: 1/2
    }
    .dashboard-socials-info {
        grid-column: 2/2
    }
    .dash-avatar {
        width: 200px
    }
}