.followers-count-conatiner {
         
    & >:first-child {
        display: block;
        margin-bottom: 1.5rem; 
    }
    .followers-count{
        padding:0 25px;
        .followers-count-slider {
            width: 80%;
            
        }
    }
}