.followers-interests-container {
  border-block-end: 1px solid black;
  padding-block-end: 1rem;
  margin-block-end: 1rem;
}

.followers-interests-icon {
  height: 2rem;
  width: 2rem;
  margin-inline-end: 1rem;
}

.followers-interests {
  font-size: 1rem;
  text-transform: capitalize;
}

.price-icon {
  height: 2rem;
  width: 2rem;
}

.price {
  font-size: 1rem;
}
