.influencer-details-socials-hero-container {
  font-size: 1.3rem;
}

.social-names {
  font-family: Quicksand-Bold;
}

.active-socials-count-text {
  margin-block-end: 1rem;
}

.socials-count {
  font-family: Quicksand-Bold;
}

.show-more-social-details-btn {
  text-transform: capitalize;
  background-color: #2a2e2d;
  color: white;
  padding: 0.2rem 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
