.influencer-socials-list-container {
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  font-size: 0.8rem;
  padding: 0.3rem 0;
  .socials-info-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
