.carousel-container {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 100%;
  border: 3px solid blue;
  background-color: grey;
}
.photo {
  position: absolute;
  width: 100%;
  border: 5px pink solid;
  background-color: black;
}
.prev-photo {
  border: 5px solid red;
  transform: translateX(-100%);
}
.curr-photo {
  border: 5px solid yellow;
}
.next-photo {
  border: 5px solid green;
  transform: translateX(100%);
}
.slide-out-left {
  transform: translateX(-100%);
  transition: transform 3s;
}
.slide-out-right {
  transform: translateX(100%);
  transition: transform 3s;
}
.slide-in {
  transform: translateX(0);
  transition: transform 3s;
}
