.influencer-poster-data-container {
  color: black;
  height: 100%;

  .influencer-fullname {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 0.3rem 0;
  }
  .social-details-container {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    font-size: 0.8rem;
    padding: 0.3rem 0;
    .social-networks-info-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      .social-network-info {
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        &:not(:last-of-type) {
          border-inline-end: 1px solid black;
        }
        .social-network-name {
          text-transform: capitalize;
          text-align: center;
        }
        .social-network-followers-count {
          text-align: center;
        }
      }
    }
  }
}
