.msg-container {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 950px;
    padding: 10px;
    background-color: $clr4;
    display: inline-block;
    text-align: center;
    h1 {
        color: white;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}