.main-layout{
    display: grid;
    grid-template-columns: 
        minmax(1rem, auto)
        minmax(auto, 800px)
        minmax(1rem, auto) ;
    grid-template-rows: 150px auto 50px;
    min-height: 100vh;

    > * {
        grid-column: 2;
    }
    .home-page-container{
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
  
}



  